header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 10;
}

nav a{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align:center;
  flex-wrap: nowrap;
}

.logoprincipal{


    max-width: 150px;
    padding-left: 40%;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #68afe1;
  min-height: 100vh;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  max-width: 1000px; 
  width: 100%; 

}

.galeria img {
  width: 100%; 
  height: auto; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9); 
  transition: transform 0.3s ease; 
  object-fit:i;
}


.galeria img:hover {
  transform: scale(2.05);


}

